
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invest N Grow</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'assets/images/title invesngrow.png' %}" />

</head>
<body>
<div>
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
</ul>
{% endif %}
</div>
<img src="{% static 'assets/images/Invest and grow logo.png' %}" alt="logo" height="100" width="250" style="border-radius:10%;margin:20px;"/>
<br>
  <form action="/register" class="box" method="post" >
    {% csrf_token %}
    <p >Register</p>
    <input type="text" name="name" placeholder='Name'>
    <input type="text" name="username" placeholder='Username'>
    <input type="text" name="email" placeholder='Email'>


    <input type="password" name="password" placeholder="Password">
    <input type="password" name="cpassword" placeholder="Confirm Password">
    <a href="#"> <p>Forgot password?</p></a>
    <p style="color:blue"><input type="checkbox"> Remember me
    </p>
    <input type="submit" value="Register">
    Already Have An Account<br>
    <a href="{% url 'login' %}" style="color:blue">Login Here</a>
  </form>
</body>
</html>